*{
    margin: 0;
    padding: 0;  
}

body{
    background: url(/image/973311.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div.main{
    width: 400px;
    margin: 60px auto 0px auto;
}

h2{
    color: rgb(255, 247, 1); font-family:'Times New Roman', Times, serif;
    font-weight: bold; padding: 20px; text-align: center;
}
form#register{
    margin: 40px;    
}

div.register{
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.674) ; 
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.118);
    box-shadow: 2px 2px 15px;
    color: #fff;
    margin: auto;
}
input.box-text {
        width: 100%;
        height: 30px;
        padding: 0 0 0 10px;
        border-radius: 5px;
        border: none; 
}
lable {
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 3px;
}
span#male {
    padding: 5px;
}
span#female {
    padding: 5px;
}
input#submit {
    background: yellow;
    padding: 17px 30px;
    font-size: 16px;
    width: 50%;
    border: none;
    border-radius: 35px;
    margin: 20px 80px 0px;
}